@import url(./basics/header.css);
@import url(./basics/reset.css);
@import url(./basics/variables.css);
@import url(./basics/footer.css);
@import url(./basics/global.css);

.bg-color-blk {
    height: 300px;
}

/* beta section */
.beta {
    position: relative;
}

.beta-text {
    position: absolute;
    width: 80%;
    bottom: 40px;
    left: 33px;
    color: var(--white);
}

.beta-text h4 {
    font-size: var(--font-size-v2);
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* end beta section */

/* media query for mobile */
@media only screen and (min-width: 575px) {
    .bg-color-blk {
        height: auto;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .beta-text {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .beta-text h4 {
        width: 400px;
    }
}

/* end media query for mobile */



@media only screen and (min-width: 768px) {
     .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .beta-text {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 0 4rem;
    }

    .beta-img {
        max-width: 100%;
        height: auto;
    }
}