@import url(./basics/header.css);
@import url(./basics/reset.css);
@import url(./basics/variables.css);
@import url(./basics/footer.css);
@import url(./basics/global.css);

/* -------------------------subscription section------------------------- */
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.toggle-container h2 {
    text-transform: capitalize;
    font-size: var(--font-size-v4);
    color: var(--pure-black);
}

.toggle-container label {
    background-color: var(--dark-grey);
    display: inline-block;
    position: relative;
    margin: 0 30px;
    width: 64px;
    height: 32px;
    border-radius: 50px;
    cursor: pointer;
}

label .ball {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: var(--pure-black);
    border-radius: 50%;
    top: 3px;
    left: 3px;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.toggle-container input {
    position: absolute;
    left: -9999px;
}

.toggle-container input:checked+label .ball {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
}

.price-container {
    padding: 0 1.2rem;
}

.price {
    background: var(--dark-grey);
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.price h3 {
    font-size: var(--font-size-v3);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
}

.price p {
    color: var(--para-color-2);
    padding: 0 2rem 1rem;
    text-align: center;
    line-height: 1.5rem;
}

.price .pricing span {
    font-size: var(--font-size-v1);
    font-weight: var(--fw-700);
    letter-spacing: 2.5px;
}

.bg-black {
    background: var(--pure-black);
    position: relative;
}

.bg-black::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: var(--gradient);
}

.bg-black .btn {
    background: var(--white);
    color: var(--pure-black);
}

.bg-black h3,
.bg-black p,
.bg-black span {
    color: var(--white);
}


.subs-container .price .yearly {
    display: none;
}

.show-yearly .price .yearly {
    display: block;
}

.show-yearly .price .monthly {
    display: none;
}

/* ------------------------- end subscription section------------------------- */


/* ------------------------- compare section------------------------- */
.compare-container {
    padding: 2rem 1.5rem;
}

.compare h4 {
    font-size: var(--font-size-v2);
    text-transform: uppercase;
    text-align: center;
}

.plan {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--pure-black);
    padding: 1rem 0;
}

.plan-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 1rem;
}

.plan-desc span {
    text-align: left;
    width: 100px;
    font-size: var(--font-size-v7);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    padding-top: 1rem;
}

.plan-desc img {
    width: 16px;
    height: 12px;
    margin-right: 30px;
}

/* ------------------------- end compare section------------------------- */



/* -------------------------beta section------------------------- */
.beta {
    position: relative;
}

.beta-text {
    position: absolute;
    width: 80%;
    bottom: 40px;
    left: 33px;
    color: var(--white);
}

.beta-text h6 {
    font-size: var(--font-size-v2);
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* -------------------------end beta section------------------------- */

/* ------------------------- media query for mobile ------------------------- */
@media only screen and (min-width: 575px) {
    .bg-color-blk {
        height: auto;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .beta-text {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .beta-text h4 {
        width: 400px;
    }
}

/* ------------------------- end media query for mobile ------------------------- */


/* ------------------------- media query for tablet ------------------------- */
@media only screen and (min-width: 768px) {
    .beta-text {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 0 4rem;
    }

    .beta-img {
        max-width: 100%;
        height: auto;
    }
}

/* ------------------------- end media query for tablet ------------------------- */

/* ------------------------- end media query for desktop ------------------------- */
@media only screen and (min-width: 1150px) {
    .price-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .price {
        width: 350px;
        height: 410px;
        margin-right: 1rem;
    }

    .bg-black {
        height: 470px;
        width: 350px;
    }

    .btn {
        width: 20vw;
    }
    .compare-container {
    padding: 2rem 15rem;
}
.beta-text h6 {
    width: 400px;
}

}












/* ------------------------- end media query for desktop ------------------------- */