@import url(./basics/header.css);
@import url(./basics/reset.css);
@import url(./basics/variables.css);
@import url(./basics/footer.css);
@import url(./basics/global.css);

/* -------------------------story top section------------------------- */
.bg-color-blk {
    background-color: var(--pure-black);
    height: 495px;
}

.stories-top-text span {
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: var(--fw-700);
    font-size: var(--font-size-v7);
    letter-spacing: 2px;
}

.stories-top-text .author {
    font-size: var(--font-size-v6);
    margin: 0;
    padding: 0;
}

.author span {
    color: var(--white);
}

/* -------------------------end story top section------------------------- */


/* -------------------------media query for story top section mobile------------------------- */
@media only screen and (min-width: 575px) {
    .stories-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .stories-top .bg-color-blk {
        background: none;
    }

    .stories-top-text {
        position: absolute;
        left: 33px;
        color: var(--white);
        width: 350px;
        height: auto;
        margin: 0 auto;
    }

}

/* -------------------------end media query for story top section mobile------------------------- */


/* -------------------------media query for story top section tablet------------------------- */
@media only screen and (min-width: 768px) {
    .stories-top-img {
        width: 100%;
        height: auto;
    }
}

/* -------------------------end media query for story top section tablet------------------------- */


/* ------------------------- media query for story top section desktop------------------------- */
@media only screen and (min-width: 920px) {
    .middle-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .stories-img picture {
        width: 100%;
        height: auto;
    }
}

/* -------------------------end media query for story top section desktop------------------------- */