
 /* -------------------------global style------------------------- */
 .btn {
     background-color: var(--pure-black);
     text-transform: uppercase;
     color: var(--white);
     width: 80vw;
     text-align: center;
     font-family: var(--ff-bold);
     font-weight: var(--fw-700);
     padding: 1rem 2rem;
     border: none;
     transition: .6s cubic-bezier(0.11, 0, 0.5, 0);
 }
 
 .btn:hover,
 .btn:focus {
     background-color: var(--light-grey);
     color: var(--pure-black);
 }
 /* -------------------------end global style------------------------- */


 