@import url(./basics/header.css);
@import url(./basics/reset.css);
@import url(./basics/variables.css);
@import url(./basics/footer.css);


 /* -------------------------global style------------------------- */
 .btn {
     background-color: var(--pure-black);
     text-transform: uppercase;
     color: var(--white);
     width: 80vw;
     text-align: center;
     font-family: var(--ff-bold);
     font-weight: var(--fw-700);
     padding: 1rem 2rem;
     border: none;
     transition: .6s cubic-bezier(0.11, 0, 0.5, 0);
 }
 
 .btn:hover,
 .btn:focus {
     background-color: var(--light-grey);
     color: var(--pure-black);
 }
 /* -------------------------end global style------------------------- */

 
  /* -------------------------top section------------------------- */

  /* bg-black section */
.bg-color-blk {
    background-color: var(--pure-black);
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
}

.bg-color-blk h1 {
    font-size: var(--font-size-v2);
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: var(--white);
}

.bg-color-blk p {
    color: var(--para-color);
    padding: 2rem 0;
    letter-spacing: 1px;
}

.cta-white a {
     display: flex;
     align-items: center;
     text-transform: uppercase;
     color: var(--white);
     font-size: var(--font-size-v7);
     font-weight: var(--fw-700);
     letter-spacing: 2px;
 }

.cta-white a:hover,
.cta-white a:focus {
     text-decoration: underline;
 }

 .arrow {
     width: 50px;
     -webkit-transition: -webkit-transform .4s;
     transition: -webkit-transform .4s;
     transition: transform .4s;
     transition: transform .4s,
    -webkit-transform .4s
 }

 .arrow:hover {
     transform: translateX(10px);
 }
/* end bg-black section */


/* bg-white section */
.bg-color-white {
    background-color: var(--white);
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
}

.bg-color-white h1 {
    font-size: var(--font-size-v2);
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: var(--pure-black);
}

.bg-color-white p {
    color: var(--para-color-2);
    padding: 2rem 0;
    letter-spacing: 1px;
}

.cta-black a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--pure-black);
    font-size: var(--font-size-v7);
    font-weight: var(--fw-700);
    letter-spacing: 2px;
}

.cta-black a:hover,
.cta-black a:focus {
    text-decoration: underline;
}
/* bg-white section */
/* -------------------------end top section------------------------- */


/* -------------------------middle section------------------------- */
.middle {
    display: block;
    position: relative;
    -webkit-transition: all .3s;
    transition: .5s cubic-bezier(0.61, 1, 0.88, 1);
    cursor: pointer;
}

.middle::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: var(--gradient);
    opacity: 0;
    transition: .6s cubic-bezier(0.37, 0, 0.63, 1);
}

.middle:hover,
.middle:focus {
    transform: translateY(-25px);
}

.middle:hover::after {
    opacity: 1;
}

.middle-text {
   position: absolute;
   width: 80%;
   bottom: 40px;
   left: 33px;
   color: var(--white);
}

.middle-text .cta-white a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle-text h2 {
    font-size: var(--font-size-v4);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: 2px;
}

.middle-text p {
    color: var(--white);
    margin-bottom: 1rem;
    font-size: var(--font-size-v6);
}

.middle-text .line {
    border-bottom: .5px solid var(--white);
    opacity: 25%;
    margin-bottom: 1rem;
}
/* -------------------------end middle section------------------------- */


/* -------------------------bottom section------------------------- */
.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0rem 2.5rem;
    margin: 4rem 0;
}

.bottom .icon {
    width: 72px;
}

.bottom h3 {
    margin-top: 3rem;
    font-size: var(--font-size-v4);
    text-transform: capitalize;
}

.bottom p {
    color: var(--light-black);
    margin-top: 1rem;
}

/* -------------------------end bottom section------------------------- */


/* -------------------------media query for mobile------------------------- */
@media only screen and (min-width: 575px) {
    /* top section */
.top {
    display: flex;
    flex-direction: row-reverse;
}
.top-img {
    width: 40%;
    height: auto;
}
.bg-color-blk {
    width: 60%;
    height: auto;
}
.bg-color-white {
    width: 60%;
    height: auto; 
}
.top:nth-of-type(2) {
    flex-direction: row;
}
/* end top section */

/* middle section */
  .middle-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  /* end middle section */
}
/* -------------------------end media query for mobile------------------------- */


/* -------------------------media query for tablet------------------------- */
@media only screen and (min-width: 768px) {
    /* header section */
#header .hamburger {
    display: none;
}
#header .nav-bar {
    height: 72px;
    padding: 0 2rem;
    display: flex;
}
#header .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .nav-list ul {
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 45vw;
    background-color: transparent;
}
#header .nav-list ul li {
    display: inline-block;
}

#header .nav-list ul a:after {
    display: none;
}

   .nav-btn {
    display: block;
}

#header .nav-list ul .btn {
    display: none;
}
/* end header section */

.bg-color-blk h1,
.bg-color-white h1 {
    font-size: var(--font-size-v1);
}

/* footer section */
.bottom p {
    width: 450px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 3rem;
    height: 285px;
}
.social-icons {
    margin-bottom: 0;
    margin-top: 4.55rem;
}
.copyright {
    margin-top: 0rem;
    margin-top: 4.5rem;
}
.social-links {
    margin-right: 7rem;
}
.useful-links {
    margin-left: auto;
    margin-bottom: auto;
}
/* end footer section */
}
/* -------------------------end media query for tablet------------------------- */

/* -------------------------media query for desktop------------------------- */
@media only screen and (min-width: 920px) {
    /* top section */
.bg-color-blk {
    width: 40%;
    height: auto;
    padding: 0 3rem;
}
.top-img {
    width: 60%;
    height: auto;
}
.bg-color-white {
    width: 40%;
    height: auto;
    padding: 0 3rem;
}
/* end top section */

/* middle section */
.middle-container {
    display: flex;
}
/* end midddle section */

/* bottom section */
.bottom-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin-bottom: 1rem;
}

.bottom p {
    width: auto;
}

}








/* -------------------------end media query for desktop------------------------- */