@import url(./basics/header.css);
@import url(./basics/reset.css);
@import url(./basics/variables.css);
@import url(./basics/footer.css);


 /* -------------------------global style------------------------- */
 .btn {
     background-color: var(--pure-black);
     text-transform: uppercase;
     color: var(--white);
     width: 80vw;
     text-align: center;
     font-family: var(--ff-bold);
     font-weight: var(--fw-700);
     padding: 1rem 2rem;
     border: none;
     transition: .6s cubic-bezier(0.11, 0, 0.5, 0);
 }
 
 .btn:hover,
 .btn:focus {
     background-color: var(--light-grey);
     color: var(--pure-black);
 }
 /* -------------------------end global style------------------------- */

 
/* -------------------------top section------------------------- */
  .top-text {
    background-color: var(--pure-black);
    height: 420px;
    padding: 2rem 1.7rem;
  }

.top-text h1 {
    font-size: var(--font-size-v2);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-top: 2rem;
}

.top-text p {
    color: var(--dark-grey);
    margin: 2rem 0;
}

   .bg-color-2,
   .bg-color-3 {
       background: var(--white);
   }

   .bg-color-2 h1,
   .bg-color-3 h1 {
       color: var(--pure-black);
   }

.bg-color-2 p,
.bg-color-3 p {
    color: var(--light-black);
}

.top-text a {
    text-transform: uppercase;
    font-size: var(--font-size-v7);
    letter-spacing: 2px;
    color: var(--white);
    font-weight: var(--fw-700);
}

.bg-color-2 a,
.bg-color-3 a {
    color: var(--pure-black);
}

.top-text .cta a {
    display: flex;
    align-items: center;
}

.top-text .cta a:hover {
    text-decoration: underline;
}

.top-text svg {
    width: 70px;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s,
    -webkit-transform .4s
}

.top-text svg:hover,
.top-text svg:focus {
    transform: translateX(-10px);
}

.top .t-two,
.top .t-three {
    background: var(--white);
}
/* -------------------------end top section------------------------- */


/* -------------------------midddle section------------------------- */
.middle{
    display: block;
    position: relative;
    -webkit-transition: all .3s;
    transition: .5s cubic-bezier(0.61, 1, 0.88, 1);
    cursor: pointer;
}

.middle::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: var(--gradient);
    opacity: 0;
    transition: .6s cubic-bezier(0.37, 0, 0.63, 1);
}

.middle:hover,
.middle:focus {
    transform: translateY(-20px);
}

.middle:hover::after {
    opacity: 1;
}

.middle-text {
    padding: 2rem 1.7rem;
    position: absolute;
    width: 100%;
    height: 99px;
    left: 0px;
    top: 201px;
}

.middle-text h2 {
    font-size: var(--font-size-v4);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: 2px;
}

.middle-text p {
    color: var(--white);
    margin-bottom: 1rem;
    font-size: var(--font-size-v6);
}

.middle-text .line {
    border-bottom: .5px solid var(--white);
    opacity: 25%;
    margin-bottom: 1rem;
}

.middle-text a {
    text-transform: uppercase;
    font-size: var(--font-size-v7);
    letter-spacing: 2px;
    color: var(--white);
    font-weight: var(--fw-700);
}

.middle-text .cta a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle-text .cta a:hover {
    text-decoration: underline;
}

.middle-text svg {
    width: 70px;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s,
    -webkit-transform .4s
}

    .middle-text svg:hover,
    .middle-text svg:focus {
    transform: translateX(-10px);
}
/* -------------------------end midddle section------------------------- */


/* -------------------------bottom section------------------------- */
.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0rem 2.5rem;
    margin: 4rem 0;
}

.bottom .icon {
    width: 72px;
}

.bottom h3 {
    margin-top: 3rem;
    font-size: var(--font-size-v4);
    text-transform: capitalize;
}

.bottom p {
    color: var(--light-black);
}
 /* -------------------------end bottom section------------------------- */


 /* -------------------------media query for tablet------------------------- */
@media only screen and (min-width: 768px) {
#header .hamburger {
    display: none;
}

#header .nav-bar {
    height: 72px;
    padding: 0 2rem;
    display: flex;
}

#header .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .nav-list ul {
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 45vw;
    background-color: transparent;
}

#header .nav-list ul li {
    display: inline-block;
}

#header .nav-list ul a:after {
    display: none;
}

.nav-btn {
    display: block;
}

#header .nav-list ul .btn {
    display: none;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.top:nth-child(2) {
    flex-direction: row;
}

.top-img {
    width: 35%;
}

.top-text {
    width: 65%;
}

.top-text h1 {
    font-size: var(--font-size-v1);
    letter-spacing: 4.17px;
}

.bg-color-1 {
    background-color: var(--pure-black);
    height: 640px;
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.middle-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.middle-text {
    width: 100%;
    height: 99px;
    left: 0px;
    top: 321px;
}

.bottom p {
    width: 450px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 3rem;
    height: 285px;
}

.social-icons {
    margin-bottom: 0;
    margin-top: 4.55rem;
}

.copyright {
    margin-top: 0rem;
    margin-top: 4.5rem;
}

.social-links {
    margin-right: 7rem;
}

.useful-links {
    margin-left: auto;
    margin-bottom: auto;
}

}
 /* ------------------------- end media query for tablet------------------------- */