@mixin ctaBtn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: $font-size-v7;
  font-weight: $fw-700;
  letter-spacing: 2px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


@mixin bgColor {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
}

@mixin hdeaingColor {
  font-size: $font-size-v2;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}

@mixin paraColor {
  padding: 1rem 0;
  letter-spacing: 1px;
}

