$color-pure-black: hsl(0, 0%, 0%);
$color-light-black: hsla(0, 0%, 0%, 0.6);
$color-dark-grey: hsla(0, 0%, 87%, 0.6);
$color-light-grey: hsl(0, 0%, 87%);
$color-white: hsl(0, 0%, 100%);
$color-orange-accent: hsl(28, 100%, 79%);
$color-purple-accent: hsl(329, 36%, 59%);
$color-blue-accent: hsl(229, 100%, 68%);
$color-gradient: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);

 $color-para-color: hsla(0, 0%, 87%, 0.6);
 $color-para-color-2: hsla(0, 0%, 0%, 0.6);

