/* -------------------------reset setting------------------------- */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture {
    width: 100%;
    display: block;
}

:focus {
    outline: none;
}

body {
    font-family: $ff-regular;
    height: 100vh;
    line-height: 1.5;
    overflow-x: hidden;
    font-size: $font-size-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ff-bold;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* -------------------------end reset setting------------------------- */