.wrapper {
    @include media('>largePhone') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    @include media('>tabletBig') {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 3rem 3rem;
    }
}


.beta-container {
    .beta {
        position: relative;
        margin: 0 auto;

        .beta-text {
            position: absolute;
            width: 80%;
            bottom: 40px;
            top: 50px;
            left: 33px;
            color: $color-white;

            h4 {
                font-size: $font-size-v2;
                color: $color-white;
                text-transform: uppercase;
                margin-bottom: 1rem;
                text-align: left;
                margin: 0 auto;

                @include media('>largePhone') {
                    width: 400px;
                }
            }

            @include media('>largePhone') {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}